In [11]:
import pandas as pd

prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})

prices

  price_usd
0     $0.53
1     $0.22
2      0.34

In [12]:
prices.dtypes

price_usd    object
dtype: object

In [13]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")
prices

/var/folders/d1/f_9n6s0d4n18whr4jcynx9zm0000gq/T/ipykernel_56188/1582289591.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")

  price_usd
0      0.53
1      0.22
2      0.34

In [14]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].astype("float")
prices

   price_usd
0       0.53
1       0.22
2       0.34

In [15]:
prices.dtypes

price_usd    float64
dtype: object